.menu {
  display: flex;
  justify-content: center;
  min-height: 85vh;
}
.menu .container {
  max-width: 1000px;
  padding: 20px 20px;
}
.menu .link {
  color: #0018b3;
  cursor: pointer;
  width: 100px;
}

.menu .ImagesContainer {
  display: flex;
  max-width: 900px;
  min-width: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu img.link {
  cursor: pointer;
}

.menu .ImageContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  flex-basis: 30%;
}

.menu .ImageContainer:hover img {
  opacity: 0.2;
}

.menu .ImageContainer img {
  cursor: pointer;
  object-fit: cover;
  display: inline-flex;
  padding: 1vw;
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
}

.menu .ImageContainer .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.menu .ImageContainer:hover .middle {
  opacity: 1;
}

.menu .ImageContainer .text {
  /* background-color: white; */
  color: black;
  font-size: 22px;
  padding: 16px 32px;
}
.menu .ImageContainer:hover .text {
  opacity: 1;
}

.menu .title {
  font-weight: bold;
}
